<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cbm.threshold.dao.SelectThresholdDAO">

  <!-- 임계치 진단 정보 조회 -->
  <select id="getThresholdCnt" resultType="Integer">
    SELECT count(THRHLD_RESULT_PID)
    FROM MN_THRHLD_RESULT
    WHERE DEVICE_CODE = #{deviceCode}
      AND DATE_FORMAT(OCRNC_AT, '%Y%m%d') BETWEEN #{startDe} AND #{endDe}
    <if test='pvUnqcode != null and !pvUnqcode.equals("")'>
      AND PV_UNQCODE = #{pvUnqcode}
    </if>
  </select>
  <select id="getThreshold" resultType="LinkedHashMap">
    SELECT PV_UNQCODE     AS pvUnqcode,
           CAR_SE_CODE    AS carSeCode,
           DEVICE_CODE    AS deviceCode,
           DEVICE_NM      AS deviceNm,
           DEVICE_UNQNO   AS deviceUnqno,
           THRHLD_SE_CODE AS thrhldSeCode,
           DATE_FORMAT(OCRNC_AT, '%Y-%m-%d %H:%i:%s') AS ocrncAt
    FROM MN_THRHLD_RESULT
    WHERE DEVICE_CODE = #{deviceCode}
      AND DATE_FORMAT(OCRNC_AT, '%Y%m%d') BETWEEN #{startDe} AND #{endDe}
    <if test='pvUnqcode != null and !pvUnqcode.equals("")'>
      AND PV_UNQCODE = #{pvUnqcode}
    </if>
    ORDER BY OCRNC_AT DESC
    LIMIT #{startNo}, #{recordSize}
  </select>

</mapper>