<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cbm.vehicle.dao.SelectVehicleDAO">

  <sql id="paging">
    LIMIT #{recordSize} OFFSET #{startNo}
  </sql>

  <sql id="whereGetVehicles">
-- 편성 고유 번호
    <where>
      <if test='pvUnqcode != null and !pvUnqcode.equals("")'>
        PV_UNQCODE = #{pvUnqcode}
      </if>
    </where>
  </sql>

  <select id="checkDuplicatePvUnqno" resultType="Integer">
--  checkDuplicatePvUnqno
--  편성 고유번호 중복검사 -> 편성 고유번호(pvUnqno)로 조회
    SELECT
      COUNT(*)
    FROM
      MN_VEHICLE_INFO
    WHERE
      PV_UNQNO = #{pvUnqno}
  </select>

  <select id="checkDuplicatePvUnqnos" resultType="Integer">
--  checkDuplicatePvUnqnos
--  다중 편성 고유번호 중복검사 -> 편성 고유번호(pvUnqno)로 조회
    SELECT
      COUNT(*)
    FROM
      MN_VEHICLE_INFO
    WHERE
      PV_UNQNO IN
    <foreach collection="create" item="vehicle" open="(" close=")" separator=",">
      #{vehicle.pvUnqno}
    </foreach>
  </select>

  <select id="checkDuplicatePvUnqcode" resultType="Integer">
--  checkDuplicatePvUnqcode
--  편성 고유코드 중복검사 -> 편성 고유코드(pvUnqcode)로 조회
    SELECT
      COUNT(*)
    FROM
      MN_VEHICLE_INFO
    WHERE
      PV_UNQCODE = #{pvUnqcode}
  </select>

  <select id="checkDuplicatePvUnqcodes" resultType="Integer">
--  checkDuplicatePvUnqcodes
--  다중 편성 고유코드 중복검사 -> 편성 고유코드(pvUnqcode)로 조회
    SELECT
      COUNT(*)
    FROM
      MN_VEHICLE_INFO
    WHERE
      PV_UNQCODE IN
    <foreach collection="create" item="vehicle" open="(" close=")" separator=",">
      #{vehicle.pvUnqcode}
    </foreach>
  </select>

  <select id="getVehicleScheduleCount" resultType="Integer">
--  getVehicleScheduleCount
--  편성 총 갯수
    SELECT
      COUNT(*)
    FROM
      MN_VEHICLE_INFO
    <include refid="whereGetVehicles"/>
  </select>

  <select id="getVehicleScheduleList" resultType="cmmcloud.data.CamelLinkedHashMap">
--  getVehicleScheduleList
--  편성 목록 리스트
    SELECT
      LINE_NO,
      STATION_NO,
      CAR_CNT,
      PV_UNQCODE,
      PV_UNQNO,
      LAST_RECEIVE_DT
    FROM
      MN_VEHICLE_INFO
    <include refid="whereGetVehicles"/>
    ORDER BY VEHICLE_INFO_PID DESC
    <include refid="paging"/>
  </select>

  <select id="getExcelVehicleScheduleList" resultType="cmmcloud.data.CamelLinkedHashMap">
--  getExcelVehicleScheduleList
--  엑셀업로드용 - 편성 목록 리스트
    SELECT
      LINE_NO,
      STATION_NO,
      CAR_CNT,
      PV_UNQCODE,
      PV_UNQNO,
      LAST_RECEIVE_DT
    FROM
      MN_VEHICLE_INFO
    <include refid="whereGetVehicles"/>
    ORDER BY VEHICLE_INFO_PID DESC
  </select>

  <select id="getVehiclePvUnqnos" resultType="String">
--  getVehiclePvUnqnos
--  편성 고유번호 목록 조회
    SELECT
      PV_UNQNO
    FROM
      MN_VEHICLE_INFO
    ORDER BY VEHICLE_INFO_PID DESC
  </select>


  <select id="getVehiclePvUnqcodes" resultType="String">
--  getVehiclePvUnqcodes
--  편성 고유코드 목록 조회
    SELECT
      PV_UNQCODE
    FROM
      MN_VEHICLE_INFO
    ORDER BY VEHICLE_INFO_PID DESC
  </select>

  <select id="getVehicleSchedule" resultType="cmmcloud.data.CamelLinkedHashMap">
--  getVehicleSchedule
--  편성 상세 조회 -> 편성 고유코드(pvUnqcode)로 조회
    SELECT
      LINE_NO,
      STATION_NO,
      CAR_CNT,
      PV_UNQNO,
      PV_UNQCODE,
      LAST_RECEIVE_DT
    FROM
      MN_VEHICLE_INFO
    WHERE
      PV_UNQCODE = #{pvUnqcode}
  </select>

</mapper>
